<head>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <!-- libreria de botones toggle. Requiere de jquery https://gitbrent.github.io/bootstrap4-toggle/-->
  <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>

</head>
{% if user.is_authenticated %}
Hola {{ user.username }}

<form action="{% url 'groseriesapp:logoutuser' %}" method="post">
  {% csrf_token %}
  <button type="submit" name="logoutbtn" class="btn btn-link">logout</button>
</form>

{% else %}
<a href="{% url 'groseriesapp:loginuser' %}">login</a>

{% endif %}

<div class="container">
{% block content %}

{% endblock %}
</div>
