{% extends 'groseries/base.html' %}


{% block content %}
{% for category, value in shopping_list.items %}
<div class="card" style="width: 16rem;">
    <div class="card-body text-center ">
      <div style="width: 64px;">
        <img src="{{category.photo.url}}" class="card-img-top" alt="..." >
      </div>
        <h5 class="card-title">{{category}}</h5>
   </div>
   <ul class="list-group list-group-flush">
   {% for product in value %}
     <li class="list-group-item">
       {{product.name}}<br/>
     {{ product.brand}} - {{ product.presentation}}<br/>
     cantidad: {{ product.quantity}}
     <br/><br/>
     <input type="checkbox"  data-toggle="toggle" data-on="Listo" data-off="Falta"
     data-onstyle="success" data-offstyle="danger">
     </li>
   {% endfor %}
   </ul>






</div></br>
{% endfor %}
{% endblock %}
